{% extends 'base.twig' %}

{% import 'macros.twig' as macros %}

{% block title %}Your transactions{% endblock %}

{% block content %}
    <h1>Your transactions</h1>

    {% if skip_transaction_review %}
        {{ macros.skip_form() }}
    {% endif %}
    
    <p>The following transactions will be imported to Firefly III.</p>

    <form name="next-form" action="." method="post">
        <input type="hidden" name="step" value="{{ next_step }}">
        <button type="submit" class="btn btn-primary">Import transactions to FireflyIII</button>
    </form>

    <ul class="list-unstyled">
    {% for transaction in transactions %}
    <li class="mt-3">
        <div class="card">
            <div class="card-header">
                <strong>
                    {% if transaction.getCreditDebit == 'debit' %}-{% endif %}{{ transaction.getAmount() }}&euro;
                </strong>
                {% if transaction.getCreditDebit == 'debit' %}to{% else %}from{% endif %}
                {{ transaction.getName() }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>{{ transaction.getMainDescription() }}</p>
                    {% if transaction.getStructuredDescription().ABWA is defined %} <p>{{ transaction.getStructuredDescription()['ABWA'] }}</p>{% endif %}
                </li>
            </ul>
        </div>
    {% endfor %}
    </ul>
{% endblock %}